---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Acerca del Sitio">
  <section class="bg-zinc-900 p-20 rounded-xl my-4">
    <h1 class="text-center font-bold text-5xl mt-10">Sobre Nosotros</h1>
    <p class="text-zinc-300 text-center">
      En "Dólar al Día", nos dedicamos a brindarte la información más precisa y
      actualizada sobre los precios del dólar en Venezuela. Nuestro objetivo es
      ofrecer una herramienta confiable y accesible para que puedas tomar
      decisiones informadas en tu vida financiera diaria. Nuestra aplicación
      monitorea las tasas del dólar oficiales y paralelas, proporcionando datos
      en tiempo real. Con un diseño intuitivo y fácil de usar, "Dólar al Día" se
      convierte en tu aliado ideal para estar siempre al tanto de la economía.
    </p>
  </section>
</Layout>
