---
import Button from "../butonsuscrib";
---

<header
  class="bg-zinc-900 flex flex-col md:flex-row p-20 gap-3 text-center md:text-left rounded-xl items-center md:items-start"
>
  <img src="logoredondo.png" alt="Logo Dólar al Día" class="w-60 md:self-end " />
  
  <div class="text-center">
    <h1 class="text-5xl font-bold py-2 text-white">Dólar al Día</h1>
    <p class="text-gray-300">
      Aplicacion movil para mantenerse informado sobra la fluctuaciones del dolar en Venezuela
    </p>

    <!-- Botón de descarga de la Play Store como imagen completa -->
    <a href="https://play.google.com/store/apps/details?id=com.carlosv.menulateral&hl=es_419" target="_blank" class="my-6 flex justify-center md:justify-start">
      <img src="/descarga_google_play.png" alt="Descargar en Google Play" class="w-48 md:w-60">
    </a>

    <!-- <Button client:load/>  -->
  </div>
</header>
