---
interface Props{
	title:String;
}

import '../styles/layout.css'

const {title}= Astro.props
---

<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Dolar Al Dia - {title}</title>
	<link rel="icon" href="/carlosvpinto/logo_dolar_icon.png" type="image/x-icon">
</head>
<body>
	 
	<main class="mx-auto container text-2xl md:pt-10">

		<slot/>

	</main>

</body>
</html>
