---
import menuItems from "../data/menuItemsData";
interface Props {
  title: String;
}

import MenuContainerView from "../components/MenuContainerView.astro";
import "../styles/layout.css";
import MenuItemsView from "../components/MenuItemsView.astro";
import Header from "../components/landing/Header.astro";
const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth"> <!-- Aquí se agrega la clase scroll-smooth -->
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dolar Al Dia - {title}</title>
    <link rel="icon" href="/logo_dolar_icon.png" type="image/x-icon" />
  </head>
  <body>
    <MenuContainerView/>
   

    <main class="class= mx-auto container text-2xl md:pt-5">
      <slot />
    </main>
  </body>
</html>
